<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>

        <div class="container">
            <div class="site">
                <div class="header">
                    <div itemscope itemtype="http://schema.org/Person" class="vcard">
                        <div class="contact">
                            <p>
                                <span itemprop="name">Mike Shultz</span>
                                <span itemprop="jobTitle">IT Director</span>
                                <span itemprop="worksFor">
                                    <a itemscope itemtype="http://schema.org/Organization" href="http://votesmart.org">
                                        <span itemprop="name">Project Vote Smart</span>
                                    </a>
                                </span>
                                <span itemprop="email"><a href="mailto:mike@mikeshultz.com">mike@mikeshultz.com</a></span>
                            </p>
                        </div>
                        <div class="contact">
                            <p>
                                <a itemprop="mainEntityOfPage" href="http://github.com/mikeshultz/" onclick="window.open(this.href); return false;">github.com/mikeshultz</a><br>
                                <a itemprop="mainEntityOfPage" href="http://twitter.com/mikeshultz/" onclick="window.open(this.href); return false;">twitter.com/mikeshultz</a><br>
                                <a itemprop="mainEntityOfPage" href="http://www.linkedin.com/in/shultzm/" onclick="window.open(this.href); return false;">linkedin.com/in/shultzm</a><br>
                                <a itemprop="mainEntityOfPage" href="https://plus.google.com/u/1/117200253848680035810" onclick="window.open(this.href); return false;">plus.google.com</a><br>
                            </p>
                        </div>
                    </div>
                    <a href="/" class="face"></a>
                </div>

                {{ content }}

            </div>
        </div> <!-- /container -->

        <footer class="footer">
            <div class="copyright">&copy; Copyright Mike Shultz 2015</div>
        </footer>

    </body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60041968-1', 'auto');
      ga('send', 'pageview');

    </script>
</html>
