<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{{ page.title }} - {{ site.name }}</title>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="stylesheet" href="/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>

        <div class="container">
            <div class="site">
                <div class="header">
                    <!--<div class="brand">
                        <ul>
                            <li><a href="/">Blog</a></li>
                            <li><a href="">Projects</a></li>
                        </ul>
                    </div>//-->
                    <div class="vcard">
                        <div class="contact">
                            <p>
                                Mike Shultz<br />
                                Web Developer<br />
                                Systems Administrator<br />
                                <a href="mailto:mike@mikeshultz.com">mike@mikeshultz.com</a>
                            </p>
                        </div>
                        <div class="contact">
                            <p>
                                <a href="http://github.com/mikeshultz/" onclick="window.open(this.href); return false;">github.com/mikeshultz</a><br />
                                <a href="http://twitter.com/mikeshultz/" onclick="window.open(this.href); return false;">twitter.com/mikeshultz</a><br />
                                <a href="http://www.linkedin.com/in/shultzm/" onclick="window.open(this.href); return false;">linkedin.com/in/shultzm</a><br />
                                <a href="https://plus.google.com/u/1/117200253848680035810" onclick="window.open(this.href); return false;">plus.google.com</a><br />
                            </p>
                        </div>
                    </div>
                    <a href="/" class="face"></a>
                </div>

                {{ content }}

            </div>
        </div> <!-- /container -->

        <footer class="footer">
            <div class="copyright">&copy; Copyright Mike Shultz 2013</div>
        </footer>

    </body>
</html>
